<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rkapoors.healthguide_dr">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/docrec"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialThemeActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="rkapoors.healthguide_dr.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".checkrecord"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".recorddata" />
        <activity
            android:name=".login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".signup"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".resetpassword"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".changepassword"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".contacts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".people" />
        <activity android:name=".aboutus" />
        <activity android:name=".notification" />
        <activity
            android:name=".grview"
            android:screenOrientation="landscape" />
        <activity
            android:name=".schedfetch"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
    </application>

</manifest>